$box-shadow-normal: 0 0 5px rgba(black, 0.5);
$box-shadow-small: 0 0 5px rgba(black, 0.3);

$clr-background: #ffffff;
$clr-primary: #409eff;
$clr-success: #67c23a;
$clr-warning: #e6a23c;
$clr-danger: #f56c6c;
$clr-info: #909399;